<div class="row align-items-center job-opportunity " *ngFor="let job of list">
    <div class="col-auto text-center">
        <img class="logo" src="{{job.logo}}">
    </div>
    <div class="col-md-3 col-sm-12 job-info">
        <div class="row">
            <p class="cyan-sm-text"> {{job.company}} </p>
        </div>
        <div class="row">
            <p class="black-md-text"> {{job.jobTitle }}</p>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="small-text"> {{job.postDate}}</p>
            </div>
            <div class="col-auto">
                <p class="small-text"> {{job.jobType}} </p>
            </div>
            <div class="col-auto">
                <p class="small-text"> {{job.location}} </p>
            </div>
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <div class="row tools">
            <div class="col-auto" *ngFor="let tool of job.tools">
                <a href="#" class="filter"> {{ tool }} </a>
            </div>
            <div class="col-auto" *ngFor="let lng of job.Languages">
                <a href="#" class="filter"> {{ lng }} </a>
            </div>
        </div>
    </div>
</div>