@import "../../styles.scss";

.job-opportunity {
  background-color: white;
  height          : auto;
  border-radius   : 5px;
  margin          : 20px 0;
  padding         : 20px 0;
  position        : relative;
}

.row.tools {
  display        : flex;
  justify-content: flex-end !important;
  flex-wrap      : wrap;

  .col-auto {
    padding: 10px;
  }
}

.logo {
  width : 80px;
  height: 80px;
}

.filter {
  color           : $dark-cyan;
  background-color: $light-cyan-bg;
  font-size       : 12px;
  font-weight     : 700;
  border-radius   : 5px;
  padding         : 6px 15px;

  &:hover,
  &:active {
    background-color: $dark-cyan;
    color           : white;
    text-decoration : none;
  }
}

@media only screen and (max-width: 800px) {

  .job-opportunity {
    margin: 40px;
    padding: 20px;
  }

  .job-info {
    margin        : 20px 0 5px 10px;
    padding-bottom: 10px;
    border-bottom : 1px solid lightgrey;
  }

  .logo {
    position: absolute;
    top     : -50px;
    left    : 0;
    width   : 60px;
    height  : 60px;
  }

  .row.tools {
    justify-content: flex-start !important;
  }
}